@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.font-family-text {
	font-family: 'Fira Code', monospace;
	line-height: 1.25;
	text-wrap: balance;
	text-wrap: pretty;
}

.font-family-heading {
	font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4 {
	@extend .font-family-heading;
}

p,
ul {
	font-size: 0.85rem;
}
