---
import About from '@components/section/About.astro';
import Education from '@components/section/Education.astro';
import Work from '@components/section/Work.astro';
import Hero from '@components/Hero.astro';
import KeyboardManager from '@components/KeyboardManager.astro';
import Layout from '@layouts/Layout.astro';
import Projects from '@components/section/Projects.astro';
import Skills from '@components/section/Skills.astro';
import Languages from '@components/section/Languages.astro';
import cvLang from '@utils/cv-lang';

const lang = 'en';
const title = 'Marvin Daniel Cely Báez | Software Engineer';

const resume = await cvLang(lang);
const { hero, about, work, education, skills, languagues, projects } = resume;
---

<Layout title={title} lang={lang}>
	<main>
		<Hero {...hero} />
		<About {...about} />
		<Skills {...skills} />
		<Work {...work} />
		<Education {...education} />
		<Projects {...projects} />
		<Languages {...languagues} />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: fit-content;
	}
</style>
