---
import About from '@components/About.astro';
import Education from '@components/Education.astro';
import Work from '@components/Work.astro';
import Hero from '@components/Hero.astro';
import KeyboardManager from '@components/KeyboardManager.astro';
import Layout from '@layouts/Layout.astro';
import Projects from '@components/Project.astro';
import Skills from '@components/Skills.astro';
import Languages from '@components/Languages.astro';
import cvLang from '@utils/cv-lang';

const resume = await cvLang('en');
const { hero, about, work, education, skills, languagues } = resume;
---

<Layout title="Marvin Daniel Cely Báez | Software Engineer" lang={'en'}>
	<main>
		<Hero {...hero} />
		<About {...about} />
		<Work {...work} />
		<Education {...education} />
		<Skills {...skills} />
		<Languages {...languagues} />
		<!-- <Projects /> -->
	</main>
	<KeyboardManager />
</Layout>

<style></style>
