---
import About from '@components/About.astro';
import Education from '@components/Education.astro';
import Work from '@components/Work.astro';
import Hero from '@components/Hero.astro';
import KeyboardManager from '@components/KeyboardManager.astro';
import Layout from '@layouts/Layout.astro';
import Projects from '@components/Project.astro';
import Skills from '@components/Skills.astro';
import cv from '@utils/cv-lang';

const { hero, about, work, education, skills } = cv();
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero {...hero} />
		<About {...about} />
		<Work {...work} />
		<Education {...education} />
		<Skills {...skills} />
		<Projects />
	</main>
	<KeyboardManager />
</Layout>

<style></style>
