---
import icons from '../icons';

export type Badge = {
	text: string;
	tooltip?: string;
	icon: string;
};

interface Props {
	badges: Badge[];
}

const { badges } = Astro.props;
---

<ul>
	{
		badges.map((badge) => {
			const { tooltip, icon, text } = badge;
			const Icon = icons(icon);

			return (
				<li>
					<span title={tooltip}>
						{!!icon && <Icon />}
						{text}
					</span>
				</li>
			);
		})
	}
</ul>
<style lang="scss">
	@use '@scss/index' as *;

	ul {
		display: flex;
		gap: 0.5rem;
		flex-wrap: wrap;
	}

	span {
		@include badge($platinum);

		&:hover {
			background-color: $french-gray;
			cursor: none;
		}

		:global(svg) {
			width: 1rem;
			height: 1rem;
		}
	}
</style>
