---
import icons from './icons';

interface Props {
	text: string;
	tooltip: string;
	icon: string;
}

const { text, tooltip, icon } = Astro.props;
const Icon = icons(icon);
---

<span title={tooltip}>{!!icon && <Icon />}{text}</span>

<style lang="scss">
	@use '@scss/index' as *;

	span {
		align-items: center;
		background-color: $platinum;
		border-radius: 0.25rem;
		display: inline-flex;
		font-size: 0.8rem;
		font-weight: 600;
		gap: 0.25rem;
		padding: 0.25rem 0.5rem;

		:global(svg) {
			width: 1rem;
		}
	}
</style>
