---
export interface Props {
	text?: string;
	list?: string[];
}

const { text, list } = Astro.props;
---

{!!text && <p>{text}</p>}
{
	!!list?.length && (
		<ul>
			{list.map((item) => (
				<li>{item}</li>
			))}
		</ul>
	)
}

<style>
	ul {
		list-style-type: disclosure-closed;
		list-style-position: inside;
		margin-left: 0.5rem;
	}
</style>
