---
export interface Props {
	text?: string;
	list?: string[];
}

const { text, list } = Astro.props;
---

{!!text && <p>{text}</p>}
{
	!!list?.length && (
		<ul>
			{list.map((item) => (
				<li>{item}</li>
			))}
		</ul>
	)
}
