---
import Bagde from '@components/Bagde.astro';
import Duration from '@components/Duration.astro';
import Project from '@components/Project.astro';
import Vendor from '@components/Vendor.astro';
import Description from '@components/Description.astro';

const { company, role, description = {}, projects, vendors } = Astro.props;
const { name, badge, duration } = company;
---

<header>
	<section>
		<h3>{name}</h3>
		{badge && !!Object.keys(badge).length && <Bagde {...badge} />}
	</section>
	<Duration {...duration} />
</header>
<main>
	<h4>{role}</h4>
	{!!Object.keys(description).length && <Description {...description} />}
	{!!projects?.length && projects.map((project) => <Project {...project} />)}
	{!!vendors?.length && vendors.map((vendor) => <Vendor {...vendor} />)}
</main>

<style lang="scss">
	@use '@scss/index' as *;
	h3 {
		font-weight: bold;
		font-size: 1.2rem;
	}

	h4 {
		font-weight: 600;
	}

	header {
		display: flex;
		justify-content: space-between;

		section {
			display: inline-flex;
			gap: 0.5rem;
		}
	}
</style>
