---
interface Props {
	link: string;
	target?: string;
	title?: string;
	className?: string;
}

const { link, target = '_blank', title, className = '' } = Astro.props;
---

<a href={link} target={target} title={title} class={className}>
	<slot />
</a>
<style>
	a:hover {
		text-decoration: underline;
	}
</style>
