---
import About from '@components/section/About.astro';
import Education from '@components/section/Education.astro';
import Work from '@components/section/Work.astro';
import Hero from '@components/Hero.astro';
import KeyboardManager from '@components/KeyboardManager.astro';
import Projects from '@components/section/Projects.astro';
import Skills from '@components/section/Skills.astro';

interface Props {
	resume: any;
}

const { resume = {} } = Astro.props;
const { hero, about, work, education, skills, languagues, projects, keyboardManager } = resume;
---

<main>
	<Hero {...hero} />
	<About {...about} />
	<Skills {...skills} />
	<div class="pagebreak"></div>
	<Work {...work} />
	<Education {...education} />
	<Projects {...projects} />
</main>
<KeyboardManager {...keyboardManager} />

<style>
	main {
		padding: 4rem;
		margin: auto;
		max-width: fit-content;
	}

	@media print {
		.pagebreak {
			clear: both;
			page-break-after: always;
		}
	}
</style>
