---
import Duration from '@components/Duration.astro';
import Project from '@components/Project.astro';
import Description from '@components/Description.astro';

const { name, duration, description, projects } = Astro.props;
---

<header>
	<h5>{name}</h5>
	{!!duration && <Duration {...duration} />}
</header>
{!!Object.keys(description).length && <Description {...description} />}
{!!projects?.length && projects.map((project) => <Project {...project} />)}
