---
import Section from '@components/Section.astro';

interface Props {
	title: string;
	texts: string[];
}

const { title, texts = [] } = Astro.props;
---

<Section title={title}>
	<article>
		{texts.map((text) => <p>{text}</p>)}
	</article>
</Section>
<style>
	article {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
</style>
