---
import Section from '@components/Section.astro';
import Badges from '@components/Badges.astro';

const { title, badges } = Astro.props;
---

<Section title={title}>
	{!!badges?.length && <Badges badges={badges} />}
</Section>
