---
import Section from '@components/Section.astro';

const { title, list } = Astro.props;
---

<Section title={title}>
	{
		!!list?.length && (
			<ul>
				{list.map(({ text, level }) => (
					<li>{`${text}: ${level}`}</li>
				))}
			</ul>
		)
	}
</Section>
