---
import Badges from '../Badges.astro';
import type { Badge } from '../Badges.astro';
import Section from '@components/Section.astro';

interface Props {
	title: string;
	badges: Badge[];
}

const { title, badges } = Astro.props;
---

<Section title={title}> {!!badges?.length && <Badges badges={badges} />}</Section>
