---
import Bagde from '../Bagde.astro';
import Section from '@components/Section.astro';

const { title, badges } = Astro.props;
---

<Section title={title}>
	{
		!!badges?.length && (
			<div>
				{badges.map((badge) => (
					<Bagde {...badge} />
				))}
			</div>
		)
	}
</Section>
<style>
	div {
		display: flex;
		gap: 0.5rem;
	}
</style>
